<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-secondary" data-bs-theme="light">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Z-SPORTS</a>

        <div class="navbar-center">
          <form class="d-flex">
            <input class="form-control me-2" #searchInput (keyup)="onSearch($event)" (blur)="hidetheSearch()" type="text" placeholder="Search">
            <button class="btn btn-outline-light" (click)="submitSearch(searchInput.value)" type="submit">Search</button>
            <ul class="suggested-search" *ngIf="searchValue"><br>
              <h6 *ngFor="let item of searchValue" style="cursor: pointer;">
                <a (mousedown)="redirectToDetails(item.productId)" >{{item.productName}}</a>
              </h6>
            </ul>
          </form>
        </div>

          <div class="navbar-nav">
            <li class="nav-item dropdown" id="dropdown" *ngIf="!this.service.isloggedIn()">
              <div class="nav-link dropdown" style="float:left;">
                <a class="dropbtn" id="signin" ><i class="fa fa-user"></i>&nbsp;Sign in </a>
                <div class="dropdown-content">
                  <a class="dropdown-item" routerLink ="/login">&nbsp;Log in </a>
                  <a class="dropdown-item" routerLink ="/signup">New Customer? &nbsp; &nbsp; &nbsp; <span>Signup</span></a>
                  <a class="dropdown-item" routerLink ="/myorders">Orders</a>
                </div>
              </div>
            </li>

            <li class="nav-item" *ngIf="!this.service.isloggedIn()">
              <a class="nav-link" routerLink="/cart" style="color: #fff;"><i class="fa fa-shopping-cart" style="color: #fff;"></i>&nbsp;Cart</a>
            </li>

            <div *ngIf="this.service.isloggedIn()">
            <li class="nav-item" *ngIf="this.service.getRole()===false">
              <a class="nav-link" routerLink="/cart" style="color: #fff;"><i class="fa fa-shopping-cart" style="color: #fff;"></i>&nbsp;Cart</a>
            </li>
          </div>

            <div class="nav-item dropdown" id="threedots" *ngIf="this.service.isloggedIn()">
              <a class="nav-link dropdown" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: #fff;">
                <i class="name" *ngIf="this.service.getRole() === true">{{firstname}} {{lastname}}</i>
                <i class="name" *ngIf="this.service.getRole() === false">{{firstname}} {{lastname}}</i>

              </a>
              <div class="dropdown-content" *ngIf="(this.service.getRole()=== false)">
                <a class="dropdown-item" routerLink="/wishlist">Wish List</a>
                <a class="dropdown-item" routerLink="/profile">My Profile</a>
                <a class="dropdown-item" routerLink="/myorders">My Orders</a>
                <a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout</a>
              </div>

              <div class="dropdown-content" *ngIf="(this.service.getRole()=== true)">
                <a class="dropdown-item" routerLink="/profile">My Profile</a>
                <a class="dropdown-item" *ngIf="this.service.isloggedIn()" (click)="logout()" style="cursor: pointer;">Logout</a>
              </div>
            </div>

            <div class="nav-item dropdown" id="threedots" *ngIf="!this.service.isloggedIn()">
              <a class="nav-link dropdown" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: #fff;">
                <i class="fa fa-ellipsis-v"></i>
              </a>
              <div class="dropdown-content">
                <a class="dropdown-item" href="#">24/7 Customer Care</a>
                <a class="dropdown-item" href="#">Help</a>
              </div>
            </div>
          </div>
        </div>
    </nav>
  </body>
</html>

