<section class="vh-100" style="background-color: #f4f5f7;">
  <div class="container py-5 h-100" *ngIf="userdetails">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-Dark"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Firstname</h6>
                    <p class="text-muted">{{userdetails.firstName}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Lastname</h6>
                    <p class="text-muted">{{userdetails.lastName}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{userdetails.email}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Phone</h6>
                    <p class="text-muted">{{userdetails.mobile}}</p>
                  </div>
                </div>

                <div class="d-flex justify-content-start">
                  <div>
                    <button type="button" class="btn btn-primary bg-transparent" data-bs-toggle="modal"
                      data-bs-target="#exampleModal" style="border: transparent;color: black;">Update Profile</button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <form [formGroup]="signup" (ngSubmit)="submit()">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Profile</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <div class="mb-3">
                                <div>
                                  <div class="row">
                                    <div class="col-lg-4">
                                      <div class="mb-4 mb-lg-0">
                                        <label class="form-label">Firstname</label>
                                        <input type="text" class="form-control" formControlName="firstName"
                                          placeholder="Enter Firstname">
                                      </div>
                                    </div>

                                    <div class="col-lg-4">
                                      <div class="mb-4 mb-lg-0">
                                        <label class="form-label">Lastname</label>
                                        <input type="text" class="form-control" formControlName="lastName"
                                          placeholder="Enter Lastname">
                                      </div>
                                    </div>

                                    <div class="col-lg-4">
                                      <div class="mb-4 mb-lg-0">
                                        <label class="form-label">Email</label>
                                        <input type="text" class="form-control" formControlName="email"
                                          placeholder="Enter Email">
                                      </div>
                                    </div>

                                    <div class="col-lg-4">
                                      <div class="mb-0"><br>
                                        <label class="form-label">Mobile</label>
                                        <input type="text" class="form-control" formControlName="mobile"
                                          placeholder="Enter Mobile">
                                      </div>
                                    </div><br>
                                    <div class="col-lg-4">
                                      <div class="mb-0"><br>
                                        <label class="form-label">Password</label>
                                        <input type="text" class="form-control" formControlName="password"
                                          placeholder="Enter Password">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Save
                                changes</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a *ngIf="this.authservice.isloggedIn()===true && this.authservice.getRole()===false" [routerLink]="['/myorders']" >My Orders</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
